# Ignore pychache

__pycache__/

# Ignore virtual environment

ls_venv/

# Ignore env variables

.env

# Ignore Bloomberg Exports (but not the folder)
src/bloomberg/exports/*        
!src/bloomberg/exports/